.title{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title h2 {
    font-family: "DM Serif Display", sans-serif;
    Font-size: 48px;
    Font-weight: 00;
    Line-height: 57.6px;
    color: rgb(1, 21, 35);
    text-align: center;
    
}
.title p{
    margin: 1.8rem 0 4rem;
    text-align: center;
}

@media screen and (max-width:1024px){
    .title h2{
        font-size: 28px;
        line-height: 1.5;
    }
}
@media screen and (max-width:600px) {
    .title{
        padding: 1rem;
    }
}