.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.titles{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titles h3{
    font-size: 35px;
}
.titles p{
    font-size: 18px;
    text-transform: uppercase;
}